header {
  align-items: center;
  background-color: $softRed;
  border-radius: 20px;
  color: $veryPaleOrange;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 32px;

  @include mobile {
    padding: 16px;
  }

  .header-left {
    p {
      font-size: 14px;
    }

    span {
      font-size: 24px;
      font-weight: 700;
      margin-top: 20px;
    }
  }

  .header-right {
    .logo {
    }
  }
}
